{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type='submit' value='Add category'>
    {{ form_end(form) }}
    <a href="{{ path('category_index') }}">
        Retour à la liste des categoris
    </a>
{% endblock %}